a, #nav-main ul.sf-menu ul li a:hover, .product_price ins .amount, .price ins .amount, .color_primary, .primary-color, #logo a.brand, #nav-main ul.sf-menu a:hover,
.woocommerce-message:before, .woocommerce-info:before, #nav-second ul.sf-menu a:hover, .footerclass a:hover,.footer_big_wrap.light #footerwrap.footerclass a:hover, .posttags a:hover, .subhead a:hover, .nav-trigger-case:hover .up-menu-icon, 
.nav-trigger-case .up-menu-icon i:hover, .normal.white .shop_icon a:hover,.shop_icon a:hover, #wp-calendar a {color: #29bce1;}
.product-category.grid_item a:hover h5, .woocommerce-message .button, .widget_layered_nav_filters ul li a, .widget_layered_nav ul li.chosen a, .wpcf7 input.wpcf7-submit,
 .portfolionav a:hover, .home-iconmenu a:hover, #commentform .form-submit #submit, 
.login .form-row .button, .up-button {background: #29bce1}
.topclass{background: #000000}
.woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt {background: #29bce1;border-color: #29bce1;color: #fff;}
.shipping-calculator-button {font-size: 14px;text-transform: uppercase;background: #29bce1;border-color: #29bce1;color: #fff;padding: 5px 10px 5px 10px;}
a:hover {color: #000;}
.input[type="submit"]:hover, .login .form-row .button:hover, .up-button:hover, .woocommerce-message .button:hover, #commentform .form-submit #submit:hover, .wpcf7 input.wpcf7-submit:hover, .widget_layered_nav_filters ul li a:hover, .widget_layered_nav ul li.chosen a:hover {background: #000;}
.up-mobile-nav .nav-inner li a:hover{background:#29bce1}
.headerclass {background: #fff;}
.navclass {background: #fff;}
.sf-menu a {letter-spacing: normal;}
#nav-second ul.sf-menu a {letter-spacing: normal;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {position: absolute;z-index: 2;width: 1em;height: 1.75em;border: 1px solid #29bce1;cursor: pointer;background: #29bce1;}
.wrap.maincontent.dark_version #filters li span.active ,#filters li span.filter.active{border-color: #29bce1;}
a:hover {text-decoration: none;}
.hometitle {text-align: center;}
a.up-button.up_btn-t:hover{color:#fff !important;background:#29bce1;border:1px solid; }
a.up-button.up_btn-d,.grid_port_paging a{color:#fff;background: #29bce1;}
.head_title , .head_title h1{color:#29bce1;text-transform: uppercase}
.sidebar a {color:#555;}
.ab-wrap,.wideab-wrap{background: #29bce1;text-transform: uppercase;text-align: center;}
.wp-pagenavi .current {background: #29bce1;color:#fff}
.circle-text  {color:#29bce1; border: 1px solid #29bce1;}
.up_bar_v {background-color: #29bce1;}
#commentform input, .form-search .search-icon:hover{background:#29bce1;}
.wrap.maincontent.dark_version .widget-inner li a:hover, .widget-inner li a:hover{color:#29bce1}
.wpb_content_element .wpb_accordion_header a, .datahead a:hover, .post_share i:hover{color:#29bce1}
.team-box .team-inner h5, header #logo a.brand, .logofont, #commentform label span {color:#29bce1;}
.widget .tagcloud a {background-color: #29bce1;}
.wp-pagenavi a,.wp-pagenavi span{border: solid 1px #29bce1;color:#29bce1}
.wp-pagenavi a:hover{background:#29bce1;color:#fff;border: solid 1px #29bce1;}
h4.wpb_toggle, .blogmasonry a h5:hover {color:#29bce1}
blockquote {border-left: 4px solid #29bce1;}
.dropcap {color:#29bce1}
.highlight {background-color: #29bce1;}
div.wpcf7-validation-errors {border: 1px solid #29bce1;}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a{color:#29bce1}
.wpb_tabs .wpb_tabs_nav li {margin: 0 2px 0 0 !important;}
#filters li span.active{background: #29bce1;}
.portfolionav a:hover{border-color:#29bce1}
.up_counter_iner {color:#29bce1}
.vc_toggle_title.tog_b { border: 1px solid #29bce1;padding:4px }
.up_pricing_inner{background:#29bce1}
.wrap.maincontent.dark_version .blogmasonry .post_share i:hover, .wrap.maincontent.dark_version .nav-previous a:hover,.wrap.maincontent.dark_version .nav-next a:hover, h1.entry-title a:hover { color: #29bce1; }
 span.shortcode_icon a:hover{color:#29bce1 !important}
.woocommerce-page .wrap.maincontent.dark_version .single_add_to_cart_button.button.alt{border-color:#29bce1 !important}
.woocommerce-page .wrap.maincontent.dark_version .single_add_to_cart_button.button.alt:hover{border-color:#868686 !important}
.wrap.maincontent.dark_version a.up-button:hover { color:#fff; background:#29bce1; }
.wrap.maincontent.dark_version a.up-button.up_btn-d:hover{color:#000; background:#fff;}
a.slider-button.white:hover, a.slider-button:hover{color:#fff!important; background:#29bce1 !important;}
::selection {background: #29bce1;color: #fff;}
.mc4wp-form input[type="submit"], .mc4wp-form button, .mc4wp-form input[type="button"] {background: #29bce1;color: #fff;border: 0;}.mc4wp-form input[type="submit"]:hover, .mc4wp-form button:hover, .mc4wp-form input[type="button"]:hover {background: #000;color: #fff;border: 0;}
a.rsswidget{color:#29bce1 !important;text-transform: uppercase;}
.vc_tta-color-black.vc_tta-style-flat .vc_tta-tab.vc_active > a {color: #29bce1 !important;}